﻿@using Fun2twModels.Models
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.NargoProducts>

@{

    Menu menu = (Menu)ViewBag.menu;
    NargoProductCategory category = ViewBag.Category;

    IQueryable<Products> hotProducts = ViewBag.hotProducts;
    ViewBag.Title = "商務導購-屏東物產館";
}

@*<style>
    .list-none li:last-of-type {
        display: none;
    }
</style>*@
<div class="container market">

@* 
    <div class="form-select" style="margin:15px auto;width:80%">
      
        <div class="form-group form-site">
          <select class="form-control"></select>
        </div>
        <div class="form-group form-sub">
          <select class="form-control"></select>
        </div>
        <input type="button" class="btn btn-primary searchStore" value="搜尋商家">
      
    </div> 
*@


    <div class="col-md-3 col-xs-12  sidebar_category ">
        <div>
            @Html.Raw(menu.Article)
        </div>
      @*  <div>
            <ul class="market-menu list-none">
                @foreach (var item in productClassManageFirst)
                {
                    <li><a href="/Nargo/Index?classid=@item.Id ">@item.Subject</a>
                        <ul>
                            @foreach (var items in productClassManageSecond)
                            {

                                if (item.Id == items.ProductClassManageFirstId)
                                {

                                    <li>
                                        <a href="/Nargo/Index?classid=@items.Id ">@items.Subject</a>
                                        <ul>
                                            @foreach (var itemses in productClassManageThird)
                                            {

                                                if (items.Id == itemses.ProductClassManageSecondId)
                                                {
                                                    <li>
                                                        <a href="/Nargo/Index?classid=@itemses.Id ">@itemses.Subject</a>
                                                        <ul style="display: none;"></ul>
                                                    </li>
                                                }

                                            }

                                        </ul>
                                    </li>
                                }


                            }

                        </ul>
                    </li>
                }
                <li></li>
            </ul>
            </div>*@
        <script>
            $(document).ready(function() {
                ﻿
                var titleStr = $('.l-titles.l-titles-indent').text();
                $('.sidebar_category > div > ul > li > a').each(function(index, value) {
                    if (titleStr == $(this).text()) {
                        $(this).next().show();
                    }
                });
                //$('.sidebar_category > div > ul > li li a').each(function(index,value){
                //  if(titleStr==$(this).text()){
                //    $(this).parent().parent().show();   
                //  }
                //})
                $('.sidebar_category > div > ul > li a').each(function(index, value) {
                    if (titleStr == $(this).text()) {
                        $(this).parent().parent().show();
                    }
                });
            });
        </script>
        <div class="market-menu-hot">
        <!-- <h2>熱門商品<span>BEST SELLER</span></h2> -->
       @* <ul class="market-side-product">
         @foreach (var item in hotProducts.Take(3))
        {
          <li>
            <a href="/Home/Details/@item.Id?mobile=@Request["mobile"]">
               @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                    {
                                        <img  src="@(item.UpImageUrl)"/>
                                    }
            </a>
            <div class="market-side-product-box">
              <h3 class="jq-two">@item.Subject</h3>
              <p class="market-side-product-price">NT. <em>@item.OnSalePrice</em></p>
            </div>
          </li>
        }
        </ul>*@
      </div>
    </div>
    <div class="col-md-9 col-xs-12 l-white">
    
        @if (category == null)
        {
            <h2 class="l-titles l-titles-indent">
              <em>推薦</em>商品 <span>NEW ARRIVAL</span>

            </h2>
        }
        else
        {
            <h2 class="l-titles l-titles-indent">@category.Subject</h2>
        }
        <div style="text-indent:1em">
            
        </div>
         <div >
        <div class="">
            <div >
                <ul class="l-card l-card-nogutter jq-twoline">
                    @foreach (var item in Model)
                    {
                        <li class="col-md-4 col-xs-12">
                            <div class="l-card-main">
                              <div class="l-card-image">
                              <a href="/Nargo/Details/@item.Id?mobile=@Request["mobile"]">
                                @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                {
                                    <img style="height:150px !important" src="@(item.UpImageUrl)"
                                    onerror="javascript:this.src='/images/product.png'"
                                    />
                                }
                                </a>
                              </div>
                              <div class="l-card-content">
                                  <h2>@item.Subject</h2>
                                  <p class="l-card-price">NT. <em>@item.Price</em></p>
                                <a href="/Nargo/Details/@item.Id?mobile=@Request["mobile"]" class="btn btn-cyan">瀏覽商品</a>
                              </div>
                            </div>
                            
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>
 @*<div class="l-pagination">
        <div class="pagination">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
        .AddRouteValue("classid", category.Id))
        </div>
    </div>*@
    </div>
    
    

   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".orderby").click(function() {
                $("form").submit();
            });
            $(".leftmenu").each(function () {
                //alert($(this).attr("href"));
                $(this).attr("href", $(this).attr("href") + '@Request["mobile"]');
            });
        });
    </script>

}