﻿

@{
    ViewBag.Title = "title";
}
<body onload="document.HPP.submit()">
    <form name="HPP" method="post" target="HPPFrame" action="https://nccnet-ec.nccc.com.tw/merchant/HPPRequest">
        <div cLASS="container l-white news-content">
            <h2 class="l-titles">付款頁面 <span>ORDER</span></h2>
            <iframe name="HPPFrame" id="mainFrame" height="600" width="100%" frameborder="0" application="yes">

            </iframe>
        </div>
        <input type="hidden" name ="KEY" value="@ViewBag.Key" />   
        @*<div>Message : @ViewBag.Message</div>
        <div>key : @ViewBag.Key</div>
        <div>order Id : @ViewBag.Orderid</div>*@
    </form>
</body>

