﻿<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>國內旅遊【瘋趣台灣-墾丁好行】屏東旅行社</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nivo-slider.css">
    <link rel="stylesheet" href="~/css/lightslider.min.css">
    <link rel="stylesheet" href="~/css/flexslider.css">
    <link rel="stylesheet" href="~/css/themes/default/default.css">
    <link class="changeCSS" rel="stylesheet" href="~/css/all.css?">


    <!--  <link href="../Content/layout.css"/ rel="stylesheet">
    <link href="../Content/regist.css"/ rel="stylesheet"> -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="../../Scripts/jquery-1.12.4.min.js"></script>
    <script src="../../Scripts/jquery.validate.min.js"></script>
    <script src="../../scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="../../scripts/bootstrap.min.js"></script>
    <script src="~/js/jquery.nivo.slider.js"></script>
    <script src="~/js/lightslider.min.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/trunk8.js"></script>
    <script class="changeJS" src="../../js/all.js?"></script>

    <style>
    .backHome {
        display: block;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        color: white;
        background: #00aff0;
        margin-bottom: 40px;
    }
        @@media(max-width:1024px){
            .topmenu > ul > li
            {
                padding: 0 .3em;
            }
            .wrap{
                max-width:1906px;
            }
        }
        @@media(max-width:768px){

            .wrap .interactive-content {
                width: 90%;
                margin: 0 auto;
                padding-bottom: 10px;
            }
        }
        .mobile-menu  li{
            width: 65%;
            margin:   0 10px  15px 10px;
        }
        .mobile-menu li a{
            font-size: 24px !important;
            display: block
        }

    </style>

    @{
        if (Request["Mobile"]=="true")
        {
            <style>
                .header {
                    display: none;
                }
                .footer {
                    display: none;
                }
            </style>
        }
        string ShoppingCarCount =Convert.ToString( ViewBag.ShoppingCarCount);
        if (string.IsNullOrEmpty(ShoppingCarCount))
        {
            ShoppingCarCount ="0";
        }
    }
    <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5T6CTMD');</script>
            <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
           <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T6CTMD"
           height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
           <!-- End Google Tag Manager (noscript) -->
@* @if (Request["Mobile"] == "true") {
         <a href="https://www.fun2tw.com/home/indexforapp" class="backHome">回上一頁</a>
     }  *@

<header>

</header>
<div id="body">
<ul class="mobile-menu"></ul>
<div class="wrap">
<div class="header">
<div class="control">
    <div class="offcanvas-header">
        <div class="offcanvas-icon">
            <div class="offcanvas-icon-line"></div>
            <div class="offcanvas-icon-line"></div>
            <div class="offcanvas-icon-line"></div>
        </div>
        <div class="offcanvas-logo">
            <img src="" alt="">
        </div>
    </div>
    <div class="logo-section">
        <div class="container">
            <a href="http://www.fun2tw.com" title="瘋趣台灣"> <div class="logo">瘋趣台灣</div></a>
            <div class="mobile-control">
                <ul class="control-menu">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="http://www.fun2tw.com/Customer?ReturnUrl=https://ec.fun2tw.com/"><i class="fa fa-user"></i>
                            <div>會員登入</div>
                        </a></li>
                          <li><a href="https://www.fun2tw.com/Customer/PortalOrder"><i class="fa fa-list-alt"></i>
                            <div>我的訂單</div>
                        </a></li>
                        <li><a href="/shoppingcar/index"><i class="fa fa-shopping-cart"></i><span
                                                                                                style="
                                                   text-align: center;
                                                   background: #ff78ad;
                                                   color: white;
                                                   border-radius: 15px;
                                                   width: 20px;
                                                   height: 20px;
                                                   display: inline-block;"
                                                                                                class="jq-num">@ShoppingCarCount</span>
                            <div>我的購物</div>
                        </a></li>


                    }
                    else
                    {
<li><a href="https://www.fun2tw.com/Customer/PortalOrder"><i class="fa fa-list-alt"></i>
                            <div>我的訂單</div>
                        </a></li>
                        <li><a href="/shoppingcar/index"><i class="fa fa-shopping-cart"></i><span
                                                                                                style="
                                                   text-align: center;
                                                   background: #ff78ad;
                                                   color: white;
                                                   border-radius: 15px;
                                                   width: 20px;
                                                   height: 20px;
                                                   display: inline-block;"
                                                                                                class="jq-num">@ShoppingCarCount</span>
                            <div>我的購物</div>
                        </a></li>

                      

                    <li><a href="https://www.fun2tw.com/Member/Index"><i class="fa fa-user"></i>
                  <div>會員資料</div>
                    </a></li>

                        <li><a href="/Customers/LogOff"><i class="fa fa-sign-out"></i>
                            <div>登出</div>
                        </a></li>

                    @* <li><i class="fa fa-pencil"></i><a href="http://www.fun2tw.com/Customer/Update"></a></li> *@

                    }

                    <li id="open_search" class="control_drop">
                      <a href="###"><i class="fa fa-search"></i>
                        <div>站內搜尋</div>
                      </a>
                    </li>


                    </ul>
                    </li>
                    <!--
                    <li class="control_drop"><a  href="###"><i class="fa fa-globe"></i></a>
                        <ul class="control_drop_inner">
                            <li><a href="/english/">English</a></li>
                            <li><a href="/japan/">japan</a></li>
                        </ul>
                    </li>
                    -->

                    <div class="google_search">
                            <style>

                                .top-menu {
                                    clear: both;
                                }
                                .search {
                                    padding-top: 15px;
                                    width: 250px;
                                }

                                .gsc-control-cse {
                                    border: 0 !important;
                                    background: none !important;
                                    padding: 0 !important;
                                }
                                .gsc-input-box {
                                    height: 30px !important;
                                }
                                .gsc-search-box tr {
                                }
                                .gsc-search-box tr:nth-of-type(odd) {
                                    background: none !important;
                                }
                                .gsc-search-box .gsc-input {
                                    padding: 0 !important;
                                }
                                .gsib_a {
                                    padding: 0 !important;
                                }
                                .gsc-input {
                                    height: 30px !important;
                                    background: none !important;
                                    margin: 0 !important;
                                }
                                .gsc-search-button input {
                                    width: auto;
                                    margin: 5px 0 0 0 !important;
                                    height: 30px !important;
                                    background: #c3c3c3 !important;
                                    border: 0!important;

                                }
                                .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
                                    color: #9a9a9a;
                                }

                                .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
                                    color: #616161;
                                }
                                .gsc-search-button input:focus {
                                    outline: 0;
                                    border: 0;
                                    box-shadow: 0;
                                }
                                .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
                                    color: #0f8392;
                                }
                                .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
                                    color: #0f8392;
                                }
                                .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
                                    color: #FFC107;
                                }

                                .gsc-results .gsc-cursor-box .gsc-cursor-page {
                                    color: gray;
                                }

                                .gsib_b {
                                    display: none;
                                }

                                @@media (max-width: 1023px) {
                                    .gsc-search-box {
                                        width: 90%;
                                    }
                                    .gsc-results-wrapper-overlay {
                                        width: 100%;
                                        left: 0;
                                    }
                                }


                            </style>
                            <script>
                                (function() {
                                    var cx = '005016262049840722736:a-5jvpbl5ag';
                                    var gcse = document.createElement('script');
                                    gcse.type = 'text/javascript';
                                    gcse.async = true;
                                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(gcse, s);
                                })();
                            </script>
                            <gcse:search></gcse:search>
                        </div>



                </ul>
            </div>
        </div>
    </div>
</div>
    @if (Request["mobile"] != "true")
    {<div class="topmenu navbar-collapse collapse">
         <div class="menu_arrow menu_arrow_left"> <i class="fa fa-chevron-left"></i></div>
         <ul class="nav container">
                <li>
                  <a href="https://www.fun2tw.com/about">關於我們</a>
                </li>
                <li><a href="https://www.fun2tw.com/News" class="news">最新消息</a></li>
                <li><a class="location" href="https://www.fun2tw.com/Navigation/overview">墾丁快線</a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="http://ticket.fun2tw.com/ ">線上預約</a></li>
                        <li><a href="https://www.fun2tw.com/Navigation/overview#timeTable">班次時刻表</a></li>
                        <li><a href="https://www.fun2tw.com/Navigation/overview#traffic">車輛動態</a></li>
                        <li><a href="https://www.fun2tw.com/FAQ?mobile=">常見問答</a></li>
                    </ul>
                </li>
                <li><a href="https://www.fun2tw.com/TravelSchdule/newindex">旅遊套票</a>
                  <ul class="dropdown-menu">
                      <li><a href="https://www.fun2tw.com/TravelSchdule/newindex">熱門行程套票</a></li>
                  </ul>

                </li>
                <li>
                    <a href="https://www.fun2tw.com/Packageticket/overview">票券專區</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://ec.fun2tw.com/home/tickets">特惠票券</a></li>
			                  <li><a href="https://www.fun2tw.com/Packageticket/index">交通套票</a></li>
                        <li><a href="https://www.fun2tw.com/coupon/">商家優惠券</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://ec.fun2tw.com/home/overview" class="market">伴手禮</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://ec.fun2tw.com/">台灣特產商城</a></li>
                        <li><a href="https://ec.fun2tw.com/home/ecpt/">瘋趣南島商城</a></li>
                        <li><a href="https://www.fun2tw.com/FAQ/Index/8?Mobile=">購物須知</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.fun2tw.com/ExpertInfo" class="travel">墾丁攻略</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.fun2tw.com/ExpertInfo/Plan">行程懶人包</a></li>
                        <li><a href="https://www.fun2tw.com/TravelPlan/overview">旅遊景點推薦</a></li>
                        <li><a href="https://www.fun2tw.com/ExpertPlan">達人樂遊攻略</a></li>
                        <li><a href="https://www.fun2tw.com/ShopInfo/overview">食宿情報資訊</a></li>
                    </ul>
                </li>
                <li><a href="https://www.fun2tw.com/Video" class="video">影音平台</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.fun2tw.com/ThemeVideo">旅遊主題影片</a></li>
                        <li><a href="https://www.fun2tw.com/CustomerVideo">玩家分享</a></li>
                        <li><a href="https://www.fun2tw.com/ShopVideo">店家影音介紹</a></li>
                        <li>
                            <a href="https://www.fun2tw.com/realtimevideo/">即時影音</a>
                        </li>
                    </ul>
                </li>

                <!-- <li ><a href="https://www.facebook.com/fun2tw/?skip_nax_wizard=true" target="_blank">粉絲團</a></li> -->
                @*<li><a href="/Gmail">FB 註冊</a></li>*@
            </ul>
         <div class="menu_arrow menu_arrow_right"> <i class="fa fa-chevron-right"></i></div>





     </div>

    }

<div class="logo-section">
    <div class="">
        <!-- <div style="display:none !important"  class="topmenu navbar-collapse collapse">
            <ul class="nav container">

                <li><a class="location" href="/Nargo/Index">買特產<i class="fa fa-chevron-down" aria-hidden="true"></i></a>

                </li>
                <li><a class="location" href="#">逛社區<i class="fa fa-chevron-down" aria-hidden="true"></i></a>

                </li>

                <li><a class="location" href="#">找文創<i class="fa fa-chevron-down" aria-hidden="true"></i></a>

                </li>


                <li><a class="location" href="http://www.fun2tw.com">遊台灣<i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>




                @*<li><a href="/Gmail">FB 註冊</a></li>*@
            </ul>




        </div> -->
    </div>

    <!--  <div class="social">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/fun2tw/"><img src="~/images/icon-fb.png"  alt=""></a></li>
            <li><a href="#"><img src="~/images/icon-youtube.png" alt=""></a></li>
        </ul>
    </div> -->

</div>

</div>
<div class="main">
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
</div>

<div class="fat-footer">
    <div class="container">
        <ul>
            <li>
                <h2>屏東旅行社股份有限公司</h2>
                <p>
                    乙種旅行業 交觀乙 第1199號 <br>
                    代表人：郭子義 <br>
                    聯絡人：楊聖民 <br>
                    品保編號：屏0016號 <br>
                    營業項目：國內團體旅遊、機票、國內訂房、自由行<br>
                    電話：08-722-1299 <br> 
                    傳真：08-723-7141 <br>
                    公司地址：台灣900屏東市光復路104號 <br>

                </p>
            </li>
            <li>
                <h2>聯絡我們</h2>
                <p>
                    E-mail：fun2taiwan@gmail.com <br>
                   <!-- TEL：886-8-722-1292 <br> -->
                    FAX：886-8-721-5767 <br>
                    服務據點：台灣900屏東市工業路4號 <br>
                    客服專線：886-8-723-7131#253 <br>
                    (工作時間：每週一至週五0800-1700，恕不提供電話預約服務)
                </p>
            </li>
            <li>
                <h2>相關連結</h2>
                <p>
                    <a href="http://www.ptbus.com.tw/" alt="屏東客運" title="屏東客運">屏東客運</a>
                    <br>
                    <a href="https://www.ptbustour.com/" alt="屏東旅行社" title="屏東旅行社">屏東旅行社</a>
                    <br>
                    <a href="http://www.kt-bus.com/" alt="高墾線共營中心" title="高墾線共營中心">高墾線共營中心</a>
                    <br>
                    <a href="http://ticket.fun2tw.com/" alt="瘋趣台灣票券" title="瘋趣台灣票券">瘋趣台灣票券</a>
                    <br>
                </p>
            </li>
            <li>
                <h2>網站服務</h2>
                <p>
                    <a href="https://www.fun2tw.com/FAQ/Index/8?Mobile=">購物須知</a> <br>
                    <a href="https://www.fun2tw.com/FAQ?mobile=@Request["mobile"]">常見問答</a> <br>
                    <a href="https://www.fun2tw.com/ContactUS?mobile=@Request["mobile"]">聯絡我們</a> <br>
                    <a href="https://www.fun2tw.com/Home/Policy?mobile=@Request["mobile"]">隱私權保護政策</a> <br>
                    <a href="https://www.fun2tw.com/Home/opendata?mobile=@Request["mobile"]">資料開放專區</a> <br>
                </p>
            </li>
        </ul>
        <div class="clear"></div>

    </div>
</div>

<div class="footer">
    <div class="container">
        <p>
            屏東汽車客運股份有限公司　<br>
            Copyright © 2016 Ptbus. All rights reserved.( 本網站所在地點為台灣 ) <br>
            代表人：郭子義　　統一編號：90724553 <br>
            營業項目：汽車客運業、遊覽車客運業、無店面零售業
        </p>
    </div>
</div>
</div>

</div>

@RenderSection("scripts", required: false)
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79530719-3', 'auto');
    ga('send', 'pageview');

</script>
</body>

</html>
