﻿
@using Fun2twModels.Models
@model IQueryable<Fun2twModels.Models.NargoProductCategory>
@{
    Menu menu = (Menu)ViewBag.menu;
    ViewBag.Title = "商務導購";
    List<Mall>  malls = ViewBag.mall;
    NargoProductCategory eudora = ViewBag.eudora ;
}









<div class="container ec-home">
    <div class="form-select" style="margin:15px auto;width:80%">
      
        <div class="form-group form-site">
          <select class="form-control"></select>
        </div>
        <div class="form-group form-sub">
          <select class="form-control"></select>
        </div>
        <input type="btn" class="btn btn-primary searchStore" value="搜尋商家">
      
    </div>
    <script>
      $(document).ready(function() {
        var siteCategory=[];
        $('.jq-sidebar_category > div > ul >li > a').each(function(index,value){
          siteCategory.push(value.text)
        });
        for(i=0;i<siteCategory.length;i++){
          $('.form-site select').append('<option>'+siteCategory[i]+'</option>')
        }

        $('.form-site select').on('change',function(){
          $('.form-sub select').html('');
          var site = $(this).val();
          var subLenHasData = $('.jq-sidebar_category a:contains("'+site+'") ').next().find('a').length !== 0;
          if(subLenHasData){
              $('.form-sub').show();
              $('.jq-sidebar_category a:contains("'+site+'") ').next().find('a').each(function(index,value){
              $('.form-sub select').append('<option>'+value.text+'</option>')
            });
          }else{
              $('.form-sub').hide();
          }
          
        });
        // 第一次觸發 init
        $('.form-site select').change();
        //點擊轉發連結
        $('.searchStore').on('click', function(event) {
          event.preventDefault();
          var siteHref = $('.form-site select').val();
          var subHref = $('.form-sub select').val();
          var subLenHasData = $('.form-sub select').val() !== null ;
          if(subLenHasData){
            var href = $('.jq-sidebar_category a:contains("'+subHref+'")').attr('href');
            location.href = href;
          }else{
            var href = $('.jq-sidebar_category a:contains("'+siteHref+'")').attr('href');
            location.href = href;
          }

        });
      });
    </script>
    <ul class="jq-sidebar_category sidebar_category">
    <div class="">
        @Html.Raw(menu.Article)
    </div>
    </ul>
    <div class="main_block">
        <div class="big_slider">
            <div class="">
                <ul class="slides">
                    <li>
                        <img src="/images/ec-home/banner1.png" alt="">
                       
                    </li>

                </ul>
            </div>
        </div>
        <div class="commod_slider">
            <ul id="commod_slider">
                @{
                    if (eudora != null)
                    {
                        foreach (var item in eudora.Productses)
                        {
                            <li>
                                <a href="/Nargo/Details/@item.Id?mobile=@Request["mobile"]">
                                    <img src="@item.UpImageUrl" alt="@item.Subject">
                                    <div class="commod_slider_title">
                                        @item.Subject
                                    </div>
                                    <div class="ccommod_slider_price">
                                        <span style="color: #ff7bbb;">$</span>
                                        <span style="font-size: 20px; color: #ff7bbb;">999</span>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="ec_home_banner">
            <ul class="ec_home_banner_two_item">
                <li>
                    <div class="">
                        <div class="images_tag">
                            尤多拉
                        </div>
                        <a class="images_button" href="/Nargo/Index?classid=221&mobile=@Request["mobile"]">夢想館</a>
                        <a class="images_button" href="/Nargo/Index?classid=240&mobile=@Request["mobile"]">禮盒組</a>
                    </div>
                </li>
                <li>
                    <a href="/Nargo/Index?classid=196&mobile=@Request["mobile"]">
                        <img src="images/ec-home/banner3.png" alt="">
                        <div class="images_overlay">
                            休閒零嘴
                        </div>

                    </a>
                </li>
                <div class="clear"></div>
            </ul>
            <ul class="ec_home_banner_one_item">
                <li>
                    <a href="/Nargo/Index?classid=182&mobile=@Request["mobile"]">
                        <div class="images_overlay">
                            <div class="images_tag">
                                農漁會專區
                            </div>

                        </div>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
            <ul class="ec_home_banner_four_item">
                <li>
                    <a href="/Nargo/Index?classid=236&mobile=@Request["mobile"]">
                        <img src="images/ec-home/banner5.png" alt="">
                        <div class="images_overlay">
                            南投伴手
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Nargo/Index?classid=248&mobile=@Request["mobile"]">
                        <img src="images/ec-home/banner6.png" alt="">
                        <div class="images_overlay">
                            道農市集
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Nargo/Index?classid=237&mobile=@Request["mobile"]">
                        <img src="images/ec-home/banner7.png" alt="">
                        <div class="images_overlay">
                            台中農好禮
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Nargo/Index?classid=235&mobile=@Request["mobile"]">
                        <img src="images/ec-home/banner8.png" alt="">
                        <div class="images_overlay">
                            屏東物產
                        </div>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <div class="clear"></div>

    <div class="brand_slider">
        <ul id="brand_slider">
            <li>
                <a href="">
                    <img src="http://www.nargo.com.tw/image/data/A01.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://www.nargo.com.tw/image/data/A08.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://www.nargo.com.tw/image/data/A10.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://www.nargo.com.tw/image/data/A22.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://www.nargo.com.tw/image/data/A25.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://www.nargo.com.tw/image/data/C02.png" alt="">
                </a>
            </li>
        </ul>
    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")


}

<script>
	$(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
    $(document).ready(function() {
        $('#commod_slider').lightSlider({
        	item:3,
            auto:false,
            loop:true,
            pauseOnHover: true,
            pager: false,
            responsive : [
                {
                    breakpoint:1024,
                    settings: {
                        item:2,
                        slideMove:1,
                        slideMargin:6
                      }
                },
                {
                    breakpoint:480,
                    settings: {
                        item:1,
                        slideMove:1
                      }
                }
            ]

        });
        $('#brand_slider').lightSlider({
        	item:6,
            auto:false,
            loop:true,
            pauseOnHover: true,
            pager: false,
            responsive : [
                {
                    breakpoint: 800,
                    settings: {
                        item:4,
                        slideMove:1,
                        slideMargin:6
                      }
                },
                {
                    breakpoint:569,
                    settings: {
                        item:3,
                        slideMove:1
                      }
                },
                {
                    breakpoint:400,
                    settings: {
                        item:2,
                        slideMove:1
                      }
                }
            ]
        });
        $('.sidebar_category .market-menu').removeClass('market-menu');
        $('.sidebar_category ul ul').hide()
   //      $('.sidebar_category li').click(function(event) {
   //      	$(this).addClass('focus');
			// $(this).siblings().removeClass('focus');
   //      	$(this).find('ul').slideDown();
			// $(this).siblings().find('ul').slideUp();
   //      });
        
    });
</script>