﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Orders
@{
    ViewBag.Title = "商務導購-購物車確認";
    int shippingfeeRules = 0;
    int shippingfees = 0;
}
@{

    List<OrderDetails> shoppingCars = ViewBag.shoppingCar;
    Customers customer = ViewBag.Customer;
    float sumPrice = 0;
    float shippingFee = 0;
    float sumTotal = 0;
    int i = 0;
}

<div class="container l-white market-detail news-content">
    @using (Html.BeginForm("Success", null))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @ViewBag.Message
        <div class="common">
            <h2 class="l-detail-title"><em>您的購物清單如下</em></h2>
            <table class="cart table table-bordered">
                <tr>
                    <th width="25%">品名</th>
                    <th width="15%" class="text-center">單價</th>
                    <th width="8%" class="text-center">數量</th>
                    <th width="15%" class="text-center">金額</th>
                </tr>
                @foreach (var item in shoppingCars)
                {
                    sumPrice += item.TotalPrice;
                    shippingfeeRules = item.ShippingfeeRule;
                    shippingfees = item.Shippingfee;
                    <tr>
                        <td align="left">
                            <span class="blue">@item.Subject</span>
                            <input type="hidden" name="shoppingCar[@i].Subject" value="@item.Subject" />
                        </td>

                        <td align="center" class="text-center">
                            <em class="red">NTD$@item.Price</em>
                            <input type="hidden" name="shoppingCar[@i].Price" value="@item.Price" />
                            <input type="hidden" name="shoppingCar[@i].MallId" value="@item.MallId" />
                            <input type="hidden" name="shoppingCar[@i].MallName" value="@item.MallName" />
                            <input type="hidden" name="shoppingCar[@i].ShippingfeeRule" value="@item.ShippingfeeRule" />
                            <input type="hidden" name="shoppingCar[@i].Shippingfee" value="@item.Shippingfee" />
                        </td>
                        <td align="center" class="text-center">
                            <em class="red">@item.Quantity</em>
                            <input type="hidden" name="shoppingCar[@i].Quantity" value=" @item.Quantity" style="width: 80px" />

                        </td>
                        <td align="center" class="text-center">
                            <em class="red">NTD$@item.TotalPrice</em>
                            <input type="hidden" name="shoppingCar[@i].TotalPrice" value="@item.TotalPrice" />
                            <input type="hidden" name="shoppingCar[@i].ProductId" value="@item.ProductId" />
                        </td>

                    </tr>
                    i++;
                }


            </table>
            <div class="cart-total">
                <p class="text-right">小計：<span class="red" style="color:red">$@sumPrice</span></p>
                @if (sumPrice < shippingfeeRules)
                {
                    shippingFee = shippingfees;
                    <input type="hidden" name="shippingfees" value="@shippingFee" />
                }
                <p class="text-right">郵寄/宅配運費：<span style="color:red" class="red">$<em class="jq-shopping-bigcount">@shippingFee</em></span></p>
                <p class="text-right">消費總金額：<span class="red" style="color:red">$@(sumPrice + shippingFee)</span></p>
            </div>
        </div>

        <div class="row">
            <div class="common create-dindan buyer col-md-6 col-xs-12">
                <h2 class="l-detail-title"><em>購買人資訊 <input type="checkbox" name="updatecustomer" /> 更新至會員資料</em></h2>
                <table class="cart table table-bordered">
                    <tr>
                        <th style="width:120px">購買者姓名</th>
                        <td>
                            @Html.TextBox("OrderName", customer.Name, new { @maxlength = 15,@class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrderName)
                        </td>
                    </tr>

                    <tr>
                        <th>聯絡電話</th>
                        <td>
                            @Html.TextBox("OrderTelphone", customer.Telphone, new { @maxlength = 20, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrderTelphone)
                        </td>
                    </tr>
                    <tr>
                        <th>手　　機</th>
                        <td>
                            @Html.TextBox("OrderMobile", customer.Mobile, new { @maxlength = 15, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrderMobile)
                        </td>
                    </tr>
                    <tr>
                        <th>聯繫信箱</th>
                        <td>
                            @Html.TextBox("OrderEmail", customer.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrderEmail)
                        </td>
                    </tr>
                    <tr class="last">
                        <th>地　　址</th>
                        <td>
                            @Html.TextBox("OrderAddress", customer.Address, new { @maxlength = 100, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrderAddress)
                        </td>
                    </tr>
                </table>

            </div>
            <div class="common create-dindan accepter col-md-6 col-xs-12">
                <h2 class="l-detail-title">
                    <em>
                        收件人資訊
                        <span class="same-information">
                            <input type="checkbox" class="Copy">
                            複製購買者資料
                        </span>
                    </em>
                </h2>
                <table class="cart table table-bordered">
                    <tr>
                        <th style="width:130px">收件人姓名<p style="color: red">請填寫真實姓名</p></th>
                        <td>
                            @Html.TextBoxFor(x => x.ShippingName, new { @maxlength = 15, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShippingName)
                        </td>
                    </tr>
                    <tr>
                        <th>手　　機</th>
                        <td>
                            @Html.TextBoxFor(x => x.ShippingMobile, new { @maxlength = 15, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShippingMobile)
                        </td>
                    </tr>
                    <tr>
                        <th>聯絡電話</th>
                        <td>
                            @Html.TextBoxFor(x => x.ShippingTelphone, new { @maxlength =20, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShippingTelphone)
                        </td>
                    </tr>
                    <tr>
                        <th>聯繫信箱</th>
                        <td>
                            @Html.TextBoxFor(x => x.ShippingEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShippingEmail)
                        </td>
                    </tr>
                    <tr class="last">
                        <th>地　　址</th>
                        <td>
                            @Html.TextBoxFor(x => x.ShippingAddress, new { @maxlength = 100, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShippingAddress)
                        </td>
                    </tr>
                    <tr>
                        <th>備註</th>
                        <td><textarea class="form-control" rows="5" name="PayMomo" placeholder="請在這裡填寫備註資料.."></textarea></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="common">
            <h2 class="l-detail-title"><em>付款方式</em></h2>
            <div class="change">
                @if (ViewBag.ticketsYes)
                {
                    List<KeyValuePair<string, string>> paytypeslList = ViewBag.List;

                    <div>
                        <select name="PayType" id="PayType">
                            @foreach (var listitem in paytypeslList)
                            {
                                <option value=@listitem.Key>@listitem.Value</option>
                            }
                        </select>

                        @* @Html.DropDownListFor(model => model.PayType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))*@
                    </div>
                }
                else
                {
                    <span style="color: red">信用卡付款</span>
 <div style="display: none"> @Html.DropDownListFor(model => model.PayType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))</div>
                }

            </div>
            <h2 class="l-detail-title"><em>送貨方式</em></h2>
            <div class="change">
                @if (ViewBag.ticketsYes)
                {
                    <div>
                        <select name="ShippingType" id="ShippingType">
                            <option value=3>郵寄</option>
                            <option value=4>現場領取</option>
                        </select>


                    </div>

                }
                else
                {
                    <span style="color: red">郵寄</span>
                    <div style="display: none">
                        @Html.DropDownListFor(model => model.ShippingType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ShippingType)), ShippingType.郵寄))
                    </div>
                }

            </div>
            <div class="noshow">
                <h2 class="l-detail-title"><em>取貨地點(現場取貨免運費)</em></h2>
                <div class="change">
                    @if (ViewBag.ticketsYes)
                {
                        <div>
                            <select name="GetPlace" id="GetPlace">
                                <option value="小港機場">小港機場</option>
                                <option value="左營櫃台">左營櫃台</option>
                                <option value="屏東旅行社">屏東旅行社</option>
                            </select>


                        </div>

                    }
                </div>
            </div>
        </div>

        <div class="bottom-btn text-center">
            <input class="btn btn-primary" type="submit" value="下一步" />
            <input class="btn btn-primary" type="button" value="取　消" onclick="history.back()" />
        </div>
        <script>
            $(document).ready(function() {
                $(".noshow").hide();

            });

            $('#ShippingType').change(function() {
                var selectedtext = $('#ShippingType option:selected').text();
                if (selectedtext === "現場領取") {
                    $(".noshow").show();
                } else {
                    $(".noshow").hide();
                }
               
            });


            $(function () {

                $(".Copy").click(function () {
                    $("#ShippingName").val($("#OrderName").val());
                    $("#ShippingTelphone").val($("#OrderTelphone").val());
                    $("#ShippingMobile").val($("#OrderMobile").val());
                    $("#ShippingEmail").val($("#OrderEmail").val());
                    $("#ShippingAddress").val($("#OrderAddress").val());
                });


            });

        </script>
    }

</div>
