﻿@using System.Web.ModelBinding
@using Fun2twEC.Models
@using Fun2twModels.Models
@model Fun2twModels.Models.Products
@{
    ViewBag.Title = "EditQuantity";
    Layout = null;
}

<h1>修改數量</h1>




<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />

@{
    if (ViewBag.close == "true")
    {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Index", "ShoppingCar")';
            });
        </script>
    }
    
      
}




@using (Html.BeginForm())
{
    <h2>品名:@Model.Subject</h2>
    <span>數量</span>
    <select name="Quantity">
        @for (int k = 1; k <= Model.ProductTotalQuantity; k++)
        {
            <option value=@k>@k</option>
        }

    </select><br>
    @*@Html.HiddenFor(model => model.Subject)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.MallId)
    @Html.HiddenFor(model => model.Mall.Subject)
    @Html.HiddenFor(model => model.Mall.ShippingfeeRule)
    @Html.HiddenFor(model => model.Mall.Shippingfee)
    @Html.HiddenFor(model => model.Productkey)
    @Html.HiddenFor(model => model.Price)*@



    <input type="hidden" name="Subject" value="@Model.Subject" />
    <input type="hidden" name="ProductId" value="@Model.Id" />
    <input type="hidden" name="MallId" value="@Model.MallId" />
    <input type="hidden" name="MallName" value="@Model.Mall.Subject" />
    <input type="hidden" name="ShippingfeeRule" value="@Model.Mall.ShippingfeeRule" />
    <input type="hidden" name="Shippingfee" value="@Model.Mall.Shippingfee" />
    <input type="hidden" name="Productkey" value="@Model.Productkey" />
    <input type="hidden" name="Price" value="@Model.Price" />
    
    <input type="hidden" name="TotalPrice" value="@Model.Price" />
    <br/>
    <input class="btn btn-cyan" type="submit" value="確認修改"/>
}


