﻿@using Fun2twModels.Models
@{
    ViewBag.Title = "商務導購-購物車";
    List<OrderDetails> shoppingCars = ViewBag.shoppingCar;
    float sumPrice = 0;
    float shippingFee = 0;
    float sumTotal = 0;
    int i = 0;
}


<div class="container l-white market-detail news-content">
    @using (Html.BeginForm("Create", null))
    {
        if (shoppingCars.Count > 0)
        {
            <input type="hidden" name="Mobile" value="@Request["Mobile"]"/>
            <div class="common">
                <h2>購物車資料</h2>
                <table class="cart table table-bordered">
                    <tr>
                        <th width="25%">品名</th>
                        <th width="15%" class="text-center">單價</th>
                        <th width="8%"  class="text-center">數量</th>
                        <th width="15%"  class="text-center">金額</th>
                        <th width="10%"  class="text-center">刪除</th>
                    </tr>
                    @foreach (var item in shoppingCars)
                    {
                        sumPrice += item.TotalPrice;
                        <tr class="trCar">
                            <td align="left"> <span class="blue">@item.Subject</span>
                                <input type="hidden" name="shoppingCar[@i].Subject" value="@item.Subject"/>
                            </td>

                            <td align="center"><em class="red">NTD$@item.Price</em>
                                <input type="hidden" name="shoppingCar[@i].Price" class="Price" value="@item.Price"/>
                            </td>
                            <td align="center"><input type="text" name="shoppingCar[@i].Quantity" value=" @item.Quantity" style="width: 80px" class="Quantity"/></td>
                            <td align="center"><em class="red totalPrice">NTD$@item.TotalPrice</em>
                                <input type="hidden" name="shoppingCar[@i].TotalPrice" value="@item.TotalPrice" />
                                <input type="hidden" name="shoppingCar[@i].ProductId" value="@item.ProductId"/>

                            </td>
                            <td align="center">
                                <a href="#" class="del">x</a>
                                <input type="hidden" value="@i"/>
                            </td>
                        </tr>
                        i++;
                    }


                </table>
                <div class="cart-total">
                    <p class="text-right">小計：<span class="red" style="color:red">$<em class="jq-shopping-smallcount">@sumPrice</em></span></p>

                    <p  class="text-right">消費總金額：<span style="color:red" class="red">$<em class="jq-shopping-bigcount">@(sumPrice + shippingFee)</em></span></p>
                </div>
            </div>
            <div class="bottom-btn text-center">
                @Html.AntiForgeryToken()

                <input class="btn btn-cyan" type="submit" value="我要結帳"/>
                <a href="/Home/Index?Mobile=@Request["Mobile"]" class="btn btn-cyan">繼續購物</a>
            </div>
        }
        else
        {
            <div>
                目前購物車內無商品
            </div>
        }

    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".del").click(function () {

                $.post('/shoppingcar/RemoveShoppingCar', { id: $(".del").index($(this)) }, function (data) {
                    $('.jq-num').text(data);
                });

                $(this).parent().parent().remove();
                var sumPrice = 0;
                var totalPrice = 0;
                $(".trCar").each(function () {

                    sumPrice += parseInt($(this).find(".Price").val());
                    totalPrice += parseInt($(this).find(".totalPrice").val());
                });
                $('.jq-shopping-smallcount').text(sumPrice);
                $('.jq-shopping-bigcount').text(totalPrice);

                if ($('.cart tr').length == 1) {
                    $('.jq-shopping-smallcount').text('0');
                    $('.jq-shopping-bigcount').text('0');
                }
                alert('已刪除');
            });
            $('.table-bordered input').on('blur', function(event) {
                var total = 0;
                $('.trCar').each(function(index, el) {
                    var Price = parseInt($(this).find('.Price').val());
                    var Quantity = parseInt($(this).find('.Quantity').val());
                    var num = Price * Quantity;
                    $(this).find('.totalPrice').text('NTD$'+ num);
                    total += num;
                });
                
                $('.jq-shopping-smallcount,.jq-shopping-bigcount').text(total);
            });
            $('.del').on('click', function(event) {
                var total = 0;
                $('.trCar').each(function(index, el) {
                    var Price = parseInt($(this).find('.Price').val());
                    var Quantity = parseInt($(this).find('.Quantity').val());
                    var num = Price * Quantity;
                    $(this).find('.totalPrice').text('NTD$'+ num);
                    total += num;
                });
                
                $('.jq-shopping-smallcount,.jq-shopping-bigcount').text(total);
                
            });
        });
    </script>

}