﻿@using Fun2twModels.Models
@{
    ViewBag.Title = "商務導購-購物車";
    List<OrderDetails> shoppingCars = null;
    List<NargoOrderDetails> NargoShoppingCars = null;
    if (ViewBag.shoppingCar != null)
    {
        shoppingCars = ViewBag.shoppingCar;
      

    }
    if (ViewBag.NargoShoppingCar != null)
    {
        NargoShoppingCars = ViewBag.NargoShoppingCar;
    }

    float sumPrice = 0;
    float shippingFee = 0;
    float sumTotal = 0;
    int i = 0;
    int j = 0;
    
}

<div class="container l-white market-detail news-content">
    
       
        @{string mallname = "";
        int tempmallid = 0;
}


        @if (shoppingCars != null)
        {
            var mall = shoppingCars.Select(x => new
            {
                MallId = x.MallId,
                MallName = x.MallName,
                ShippingfeeRule = x.ShippingfeeRule,
                Shippingfee = x.Shippingfee
            }).Distinct();



            <input type="hidden" name="Mobile" value="@Request["Mobile"]" />
            <div class="common">



                <h2>瘋趣南島購物車資料</h2>
                 @foreach (var item in mall)
                {
                    using (Html.BeginForm("Create", null))
                     {
                         i = 0;
                         sumPrice = 0;
                         <h2>@item.MallName</h2>
                         <table class="cart table table-bordered">
                             <tr>
                                 <th width="25%">品名</th>
                                 <th width="15%" class="text-center">單價</th>
                                 <th width="8%" class="text-center">數量</th>
                                 <th width="10%" class="text-center">編輯</th>
                                 <th width="15%" class="text-center">金額</th>
                                 <th width="10%" class="text-center">刪除</th>
                         
                             </tr>

                             @foreach (var items in shoppingCars.Where(x => x.MallName == item.MallName))
                             {
                                
                                 sumPrice += items.TotalPrice;
                                 <tr class="trCar">
                                     <td align="left">
                                         <span class="blue">@items.Subject </span>
                                         <input type="hidden" name="shoppingCar[@i].Subject" value="@items.Subject"/>
                                     </td>

                                     <td align="center">
                                         <em class="red">NTD$@items.Price</em>
                                         <input type="hidden" name="shoppingCar[@i].Price" class="Price" value="@items.Price"/>
                                         <input type="hidden" name="shoppingCar[@i].MallId" class="MallId" value="@items.MallId"/>
                                         <input type="hidden" name="shoppingCar[@i].MallName" class="MallName" value="@items.MallName"/>
                                         <input type="hidden" name="shoppingCar[@i].ShippingfeeRule" class="ShippingfeeRule" value="@items.ShippingfeeRule" />   
                                         <input type="hidden" name="shoppingCar[@i].Shippingfee" class="Shippingfee" value="@items.Shippingfee" />
                                     </td>
                                     <td align="center"><em class="red">@items.Quantity</em></td>
                                     <input type="hidden" name="shoppingCar[@i].Quantity" class="Quantity" value="@items.Quantity" />
                                     <td>
                                         <p align="center">
                                           <a id="colorlink" onclick="$.colorbox({ width: '320px', height: '50%', iframe: true, href: '@Url.Action("EditQuantity","ShoppingCar", new {id = items.ProductId})' })" href="javascript:return false;" class="btn btn-primary">編輯數量</a>
                                         </p>

                                     </td>
                                     <td align="center">
                                         <em class="red totalPrice">NTD$@items.TotalPrice</em>
                                         <input type="hidden" name="shoppingCar[@i].TotalPrice" value="@items.TotalPrice"/>
                                         <input type="hidden" name="shoppingCar[@i].ProductId" value="@items.ProductId"/>

                                     </td>
                                     <td align="center">
                                         @Html.ActionLink("X", "RemoveShoppingCar", new {id = i, Mobile = @Request["Mobile"]})

                                     </td>
                                   
                                 </tr>
                                 i++;
                             }
                         </table>
                     
<div class="cart-total">
                        <p class="text-right">
                            小計：<span class="red" style="color: red">$<em class="jq-shopping-smallcountt">@sumPrice</em></span>
                        </p>
                        @if (sumPrice < item.ShippingfeeRule)
                        {
                            shippingFee = item.Shippingfee;
                        }
                        else
                        {
                            shippingFee = 0;
                        }
                        <p class="text-right">郵寄/宅配運費：<span style="color:red" class="red">$<em class="jq-shopping-bigcountt">@shippingFee</em></span></p>
                        <p class="text-right">
                            消費總金額：<span style="color: red" class="red">$<em class="jq-shopping-smallcountts">@(sumPrice + shippingFee)</em></span>
                        </p>
                    </div>
                    
              
                                <div class="bottom-btn text-center">
                                    @Html.AntiForgeryToken()

                                    <input class="btn btn-cyan" type="submit" value="我要結帳" />
                                    <a href="/Home/Index?Mobile=@Request["Mobile"]" class="btn btn-cyan">繼續購物</a>
                                </div>
                    }
                }
</div>

         
                                    }
                                  
                               

</div>
<div class="container l-white market-detail news-content">
    @using (Html.BeginForm("NargoCreate", null))
    {
        sumPrice = 0;
        i = 0;
        if (NargoShoppingCars != null)
        {
            <input type="hidden" name="Mobile" value="@Request["Mobile"]" />
            <div class="common">
                <h2>台灣特產購物車資料</h2>
                <table class="cart table table-borderedN">
                    <tr>
                        <th width="25%">品名</th>
                        <th width="15%" class="text-center">單價</th>
                        <th width="8%" class="text-center">數量</th>
                        <th width="15%" class="text-center">金額</th>
                        <th width="10%" class="text-center">刪除</th>
                    </tr>
                    @foreach (var item in NargoShoppingCars)
                    {
                        //if (item.Product.UpImageUrl.Contains("nargo"))
                        //{

                        //}

                        sumPrice += item.TotalPrice;
                        <tr class="trCarN">
                            <td align="left">
                                <span class="blue">@item.Subject</span>@item.Productkey
                                <input type="hidden" name="NargoShoppingCars[@i].Subject" value="@item.Subject" />
                            </td>

                            <td align="center">
                                <em class="red ">NTD$@item.Price</em>
                                <input type="hidden" name="NargoShoppingCars[@i].Price" class="PriceN" value="@item.Price" />
                            </td>
                            <td align="center"><input type="text" name="NargoShoppingCars[@i].Quantity" value="@item.Quantity" style="width: 80px" class="QuantityN"/></td>
                            <td align="center">
                                <em class="red totalPriceN">NTD$@item.TotalPrice</em>
                                <input type="hidden" name="NargoShoppingCars[@i].TotalPrice" value="@item.TotalPrice" class="totalPriceN" />
                                <input type="hidden" name="NargoShoppingCars[@i].ProductId" value="@item.ProductId" />

                            </td>
                            <td align="center">
                                @* <a href="#" class="del">x</a>
                                    <input type="hidden" value="@i"/>*@
                                @Html.ActionLink("X", "RemoveNargoShoppingCar", new { id = i, Mobile = @Request["Mobile"] })
                            </td>
                        </tr>
                        i++;
                    }


                </table>
                <div class="cart-total">
                    <p class="text-right">小計：<span class="red" style="color:red">$<em class="jq-shopping-smallcountN">@sumPrice</em></span></p>

                    @if (sumPrice < 2000)
                    {
                        shippingFee = 100;
                    }
                    else
                    {
                        shippingFee = 0;
                    }
                    <p class="text-right">郵寄/宅配運費：<span style="color:red" class="red">$<em class="jq-shopping-bigcountN">@shippingFee</em></span></p>
                    <p class="text-right">消費總金額：<span style="color:red" class="red">$<em class="jq-shopping-bigcountsN">@(sumPrice + shippingFee)</em></span></p>
                </div>
            </div>
            <div class="bottom-btn text-center">
                @Html.AntiForgeryToken()

                <input class="btn btn-cyan" type="submit" value="我要結帳" />
                <a href="/Nargo/Index?Mobile=@Request["Mobile"]" class="btn btn-cyan">繼續購物</a>
            </div>
        }
        

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css"/>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".del").click(function() {

                $.post('/shoppingcar/RemoveShoppingCar',
                    { id: $(".del").index($(this)) },
                    function(data) {
                        $('.jq-num').text(data);
                    });

                $(this).parent().parent().remove();
                var sumPrice = 0;
                var totalPrice = 0;
                $(".trCar").each(function() {

                    sumPrice += parseInt($(this).find(".Price").val());
                    totalPrice += parseInt($(this).find(".totalPrice").val());
                });
                $('.jq-shopping-smallcount').text(sumPrice);
                $('.jq-shopping-bigcount').text(totalPrice);

                if ($('.cart tr').length == 1) {
                    $('.jq-shopping-smallcount').text('0');
                    $('.jq-shopping-bigcount').text('0');
                }
                alert('已刪除');
            });
            $('.table-bordered input').on('blur',
                function(event) {
                    var nums = 0;

                    var shippingfeeRule = parseInt($('.ShippingfeeRule').val());
                    var shippingfee = parseInt($('.Shippingfee').val());

                    $('.jq-shopping-bigcountt').text(0);
                    $('.trCar').each(function(index, el) {
                        var price = parseInt($(this).find('.Price').val());
                        var quantity = parseInt($(this).find('.Quantity').val());               
                        var num = price * quantity;
                    
                        nums += num;
                       
                        $(this).find('.totalPrice').text('NTD$' + num);
                    });
                    $('.jq-shopping-smallcountt').text(nums);
                    if (nums < shippingfeeRule) {
                       
                        nums += shippingfee;
                        $('.jq-shopping-bigcountt').text(shippingfee);
                    }
                    $('.jq-shopping-smallcountts').text(nums);
                });

            $('.table-borderedN input').on('blur',
                function(event) {               
                    var numsN = 0;
                    var shippingfeeRule = 2000;
                    var shippingfee = 100;
                    $('.jq-shopping-bigcountN').text(0);
                    $('.trCarN').each(function (index, el) {
                        var price = parseInt($(this).find('.PriceN').val());
                        var quantity = parseInt($(this).find('.QuantityN').val());
                        var num = price * quantity;
                        numsN += num;
                        $(this).find('.totalPriceN').text('NTD$' + num);
                    });
                    $('.jq-shopping-smallcountN').text(numsN);
                    if (numsN < shippingfeeRule) {
                        numsN += shippingfee;
                        $('.jq-shopping-bigcountN').text(shippingfee);
                    }
                    $('.jq-shopping-bigcountsN').text(numsN);
                });


            $('.del').on('click',
                function(event) {
                    var total = 0;
                    $('.trCar').each(function(index, el) {
                        var Price = parseInt($(this).find('.Price').val());
                        var Quantity = parseInt($(this).find('.Quantity').val());
                        var num = Price * Quantity;
                        $(this).find('.totalPrice').text('NTD$' + num);
                        total += num;
                    });

                    $('.jq-shopping-smallcount,.jq-shopping-bigcount').text(total);

                });
        });
    </script>
}
