﻿@using Fun2twModels.Models
@{
    ViewBag.Title = "購物車";
    List<OrderDetails> shoppingCars = ViewBag.shoppingCar;
    List<NargoOrderDetails> NargoShoppingCar = ViewBag.NargoShoppingCar;
}

<style>
    .car_list {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    .car_list a {
        color: #ff2990;
        font-size: 20px;
        padding: 10px;
        display: block;
    }
    .car_list img {
        width: 100%;
        /*height: 250px;*/
    }
    @@media (max-width: 569px) {
           .car_list {
                width: 95%;
           }
    }
</style>

<div class="container">
@if (NargoShoppingCar.Count > 0)
{
    <div class="car_list">
        <a href="/ShoppingCar/Nargo">屏東物產館(@NargoShoppingCar.Count)</a>
        <img src="/images/shop-1.png" alt="屏東物產館"/>
    </div>
    
}
@if (shoppingCars.Count > 0)
{
    <div class="car_list">
        <a href="/ShoppingCar/Index">蓋亞咖啡(@shoppingCars.Count)</a>
        <img src="/images/shop-2.png" alt="蓋亞咖啡"/>
    </div>
}
@if (NargoShoppingCar.Count == 0 && shoppingCars.Count==0)
{
      <div style="text-align: center;font-size: 20px;">
                目前購物車內無商品
            </div>
}
</div>