﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Orders
@{
    ViewBag.Title = "商務導購-訂購完成";
}


<div class="container l-white news-content">
    <h2 class="l-titles">自動櫃員機ATM繳費 <span>ATM</span>
    </h2>
    <h3>感謝您購買，您的訂單資料已確認送出！</h3>
    轉帳銀行：玉山銀行屏東分行，銀行代號：808<br />
    銀行帳號：0934-940-163015<br />
    戶名：屏東汽車客運股份有限公司<br />
    轉帳金額：@Model.Total<br /><br />
    @if (Request["Mobile"] != "true")
    {
        <div>
            請至您鄰近的實體ATM轉帳付款，付款後到<a href="https://www.fun2tw.com/Customer/PortalOrder">我的訂單</a> 輸入付款帳號後五碼，我們將為您寄出商品。<br />
            <div class="text-center m1">
                <a class="btn btn-primary" href="https://www.fun2tw.com/Customer/PortalOrder">瀏覽訂單</a>
            </div>
        </div>
         
    }

</div>
 