﻿@using Fun2twModels.Models
@model List<Fun2twModels.Models.ProductCategory>
@{
    ViewBag.Title = "Class";
    ProductCategory productCategory = ViewBag.ProductCatagory;
    List<Products> products = ViewBag.Product;
}

<div class="container ec-home">
    @* <div class="form-select" style="margin: 15px auto; width: 80%;">

        <div class="form-group form-site">
            <select class="form-control"></select>
        </div>
        <div class="form-group form-sub">
            <select class="form-control"></select>
        </div>
        <input type="button" class="btn btn-primary searchStore" value="搜尋商家">
    </div> *@
    <div class="left-side">
        <ul class=" sidebar_category sidebar_categorys">
        <div>

            <ul class="market-menu list-none">
                @foreach (var item in Model.Where(x => x.Status == PromotionProductStatus.上架))
                {
                    <li>
                        <a href="###">@item.Subject</a>

                        @{
                            ICollection<ProductCategory> productCategories = item.ChildCategory;
                        }
                        <ul>
                            @foreach (var items in productCategories.Where(x=>x.Status==PromotionProductStatus.上架))
                            {


                                <li>
                                    <a href="/ProductForEc/Class/@items.Id?mobile=@Request["mobile"]">@items.Subject</a>
                                </li>
                            }
                        </ul>
                    </li>
                            }
            </ul>
        </div>

        </ul>
    </div>
    <script>
        $(document).ready(function () {

            var titleStr = $('.l-titles.l-titles-indent').text();
            $('.sidebar_category > ul > li > ul > li > a ').each(function (index, value) {
                if (titleStr == $(this).text()) {
                    $(this).parent().parent().show();
                }
            });
            //$('.sidebar_category  > ul > li li a').each(function(index,value){
            //  if(titleStr==$(this).text()){
            //    $(this).parent().parent().show();
            //  }
            //})
            //$('.sidebar_category  > ul > li a').each(function (index, value) {
            //    if (titleStr == $(this).text()) {
            //        $(this).parent().parent().show();
            //    }
            //});
        });
    </script>

    <div class="main_block">

        @if (productCategory == null)
        {
            <h2 class="l-titles l-titles-indent" style="text-align: center;">
                <em>推薦</em>商品 <span>NEW ARRIVAL</span>

            </h2>
        }
        else
        {
            <h2 class="l-titles l-titles-indent" style="text-align: center;">@productCategory.Subject</h2>
        }
        <div>
            <div class="">
                <div itemscope itemtype="http://schema.org/ItemList">
                    <ul class="l-card l-card-nogutter jq-twoline">
                        @foreach (var item in products)
                        {
                            <li class="col-md-4 col-xs-12" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                                <div class="l-card-main">
                                    <div class="l-card-image">
                                        <link itemprop="url" href="/ProductForEc/Details/@item.Id?mobile=@Request["mobile"]" />
                                        <span style="display: none" itemprop="numberOfItems">@item.Id</span>
                                        <a itemprop="url" href="/ProductForEc/Details/@item.Id?mobile=@Request["mobile"]">
                                            @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                            {
                                                <img itemprop="image" style="height: 150px !important" src="https://www.fun2tw.com/upfiles/images/S@(item.UpImageUrl)"
                                                     onerror="javascript:this.src = '/images/product.png'"/>
                                            }
                                            else
                                            {
                                                <img itemprop="image" style="height: 150px !important" src="/images/product.png"/>
                                            }
                                        </a>
                                    </div>
                                    <div class="l-card-content">
                                        <div style="color:gray;">[@item.Mall.Subject]</div>
                                        <h2 style="font-weight: bold;" itemprop="name">@item.Subject</h2>
                                        @if (item.OnSalePrice.HasValue&&item.OnSalePrice>0)
                                        {

                                            if (item.Price.HasValue && item.Price > 0)
                                            {
                                                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">


                                                    <span itemprop="price" style="text-decoration: line-through">NT.<em>@item.Price</em></span>

                                                    <span itemprop="price" class="l-card-price">NT. <em>@item.OnSalePrice</em></span>
                                                </p>
                                            }
                                            else
                                            {
                                                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <span itemprop="price" class="l-card-price">NT. <em>@item.OnSalePrice</em></span>
                                                    </p>
                                            }
                                        }
                                        else
                                        {
                                            <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <span itemprop="price" class="l-card-price">NT. <em>@item.Price</em></span>
                                            </p>
                                        }



                                        <a href="/ProductForEc/Details/@item.Id?mobile=@Request["mobile"]" class="btn btn-cyan" style="display:none">瀏覽商品</a>
                                    </div>
                                </div>

                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".orderby").click(function() {
                $("form").submit();
            });
            // $(".leftmenu").each(function() {
            //     //alert($(this).attr("href"));
            //     $(this).attr("href", $(this).attr("href") + '@Request["mobile"]');
            // });
        });
    </script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
        $(document).ready(function () {
            $('#commod_slider1').lightSlider({
                item: 3,
                auto: false,
                loop: true,
                pauseOnHover: true,
                pager: false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            item: 2,
                            slideMove: 1,
                            slideMargin: 6
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            item: 1,
                            slideMove: 1
                        }
                    }
                ]

            });
            $('#commod_slider2').lightSlider({
                item: 3,
                auto: false,
                loop: true,
                pauseOnHover: true,
                pager: false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            item: 2,
                            slideMove: 1,
                            slideMargin: 6
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            item: 1,
                            slideMove: 1
                        }
                    }
                ]

            });
            $('#brand_slider').lightSlider({
                item: 6,
                auto: false,
                loop: true,
                pauseOnHover: true,
                pager: false,
                responsive: [
                    {
                        breakpoint: 800,
                        settings: {
                            item: 4,
                            slideMove: 1,
                            slideMargin: 6
                        }
                    },
                    {
                        breakpoint: 569,
                        settings: {
                            item: 3,
                            slideMove: 1
                        }
                    },
                    {
                        breakpoint: 400,
                        settings: {
                            item: 2,
                            slideMove: 1
                        }
                    }
                ]
            });
            $('.sidebar_category .market-menu').removeClass('market-menu');
            $('.sidebar_category ul ul').hide()
            $('.sidebar_category li').click(function (event) {
                $(this).addClass('focus');
                $(this).siblings().removeClass('focus');
                $(this).find('ul').slideDown();
                $(this).siblings().find('ul').slideUp();
            });
            

        });
    </script>

}