﻿@using Fun2twEC.Models
@using Fun2twModels.Models
@model Fun2twModels.Models.Products
@{
    ViewBag.Title = "商務導購-" + Model.Subject;

}
<style>
    html,body {
        width: 100%;
        height: 100%;
    }
    .news-content {
    }
    .pd-img-wrap{
        width: 500px;
        height: 500px;
        float: left;
    }
    .pd-img {
        width: 100%;
        height: 100%;
        background-color: #f7f7f7;
        /*background-position: center;*/
        /*-webkit-background-size: cover;*/
        -webkit-background-size: 100%;
        /*background-size: cover;*/
    }
    .pd-info{
        padding: 0px 30px;
        width: 500px;
        float: left;
    }
 
    
    .btn-gp {
        
    }
    .btn-gp a {
        font-size: 18px;

    }
    .price {
        
    }
    p {
        margin: 0;
        padding: 10px 0;
    }
    h3 {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .tab-btn li {
        display: inline-block;
    }
    .tab-btn li a{
        border-radius: 4px;
        display: inline-block;
        padding: 10px;
        font-size: 1em;
    }
    .tab-content {
        min-height: 250px;
        padding: 20px;
    }
    .tab-btn li a.active {
        background: #f7f7f7;
        color: black;

    }
    @@media (max-width: 1024px) {
        .pd-img-wrap,.pd-info {
            height: auto;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .pd-img {
            width: 300px;
            height: 300px;
            background-size: cover;
            background-position: center center;  
            display: inline-block;
            -webkit-background-size: cover;

        }
        .tab-btn {
            text-align: center;
            background: aliceblue;
        }
        .tab-btn li a.active {
            background: #94e8f3;
        }
        .tab-content img {
            margin: 0 auto;
            display: block;
        }

        
    }
</style>
<div class="container l-white market-detail">
    <br/>
    <h4>
    @if (ViewBag.Tickets)
    {
        <a href="/home/tickets">特惠票券</a>
    }
    else
    {
        <a href="/home/ecpt">伴手禮市集首頁</a>
    }
        <span>
        &nbsp;
        >
        &nbsp;
    </span>   
@if (ViewBag.Tickets)
        {
            <a href="/ProductForEc/Class/@Model.ClassId">@Model.ProductCategory.Subject</a>
        }
        else
        { <a href="/ProductForEc/Class/@Model.ClassId">@Model.ProductCategory.ParentCategory.Subject<span>/</span>@Model.ProductCategory.Subject</a>
           
        }
<span>
        &nbsp;
        >
        &nbsp;
    </span>@Model.Subject </h4>
    <div class="row news-content"  itemscope itemtype="http://schema.org/Product">

        <div class="pd-img-wrap">
            <div itemprop="image" class="pd-img" style="background-image: url(https://www.fun2tw.com/upfiles/Images/@Model.UpImageUrl);">
                @* <img src="/Images/@Model.UpImageUrl" onerror="javascript:this.src='/images/product.png'" /> *@
            </div>
        </div>

        @*  <div class="col-md-6 col-xs-12 pd-img" style="background-image: url(https://www.fun2tw.com/img/news-img.jpg);">
        </div> *@

        <div class="pd-info" style="">
<div style="color:gray;padding: 10px 0; font-size: 20px;">@Model.Mall.Subject</div>
            <h1 style="margin-top: 0" itemprop="name">@Model.Subject </h1>
            @if (!string.IsNullOrEmpty(Model.Productkey))
            {
                <p>商品編號 @Model.Productkey
            

                </p>
            }

            <p>產品剩餘數量 @Model.ProductTotalQuantity
            

            </p>


            <p>
                數量
                <select name="" id="Quantity">
                    @for (int k = 1; k <= Model.ProductTotalQuantity; k++)
                    {
                        <option value=@k>@k</option>
                    }

                </select>

                @if (Model.OnSalePrice != null && Model.OnSalePrice > 0)
                {
                    if (Model.Price.HasValue && Model.Price > 0)
                    {
                        <p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price">
                            <span itemprop="highPrice" content="@Model.Price" style="text-decoration: line-through">NT.<em>@Model.Price</em></span>
                            <span itemprop="lowPrice" content="@Model.OnSalePrice" class="l-price">NT. <em>@Model.OnSalePrice</em></span>
                        </p>
                    }
                    else
                    {
                        <p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price">
                            <span style="color: #8f8f8f">特價</span>
                            <span itemprop="lowPrice" content="@Model.OnSalePrice" class="l-price">NT. <em>@Model.OnSalePrice</em></span>
                        </p>
                    }
                    <input type="hidden" id="Price" value="@Model.OnSalePrice" />
                }
                else
                {
                    <p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price">
                        <span style="color: #8f8f8f">原價</span>
                        <span itemprop="highPrice" content="@Model.Price" class="l-price">NT. <em>@Model.Price</em></span>
                    </p>
                    <input type="hidden" id="Price" value="@Model.Price" />
                }
            </p>




            @if (Model.ProductTotalQuantity > 0)
            {

                <div class="btn-gp" style="margin-bottom: 1em"><a class="btn btn-cyan addCar">加入購物車</a> 
 <a class="btn btn-success" href="~/shoppingcar/index?Mobile=@Request["Mobile"]">結帳去</a>
 @*@if (Session["ShoppingCar"] != null)
          {
              <a class="btn btn-success" href="~/shoppingcar/index?Mobile=@Request["Mobile"]">結帳去</a>
          }
          else
          {
              <a  class="btn btn-success" href="">結帳去</a>
          }*@
         </div>



            }
            else
            {
                <div>很抱歉目前本產品已全部售出</div>
                <div><a class="btn btn-success" href="~/shoppingcar/index?Mobile=@Request["Mobile"]">結帳去</a>
                </div>
            }
        
          
              
             
           

           

            <input type="hidden" id="Subject" value="@Model.Subject" />
            <input type="hidden" id="ProductId" value="@Model.Id" />
            <input type="hidden" id="MallId" value="@Model.MallId" />
            <input type="hidden" id="MallName" value="@Model.Mall.Subject" />
            <input type="hidden" id="MallShippingfeeRule" value="@Model.Mall.ShippingfeeRule" />
            <input type="hidden" id="MallShippingfee" value="@Model.Mall.Shippingfee" />
           
               
            
                
            


        </div>
        <div class="clear"></div>
    </div>
    @* <ul class="nav nav-tabs l-tab" role="tablist">
               <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">商品規格</a></li>
               <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">訂購說明</a></li>

            </ul>
            <div class="tab-content">
              <div role="tabpanel" style="padding-top:10px" class="tab-pane active" id="home">
                @Html.Raw(Model.Description)
              </div>
              <div role="tabpanel"  style="padding-top:10px" class="tab-pane active" id="profile">

              </div>
            </div>*@

    <ul class="tab-btn">
        <li><a href="#content1">商品介紹</a></li>
        <li><a href="#content2">商品規格</a></li>
        <li><a href="#content3">訂購說明</a></li>
        <li><a href="#content4">退貨說明</a></li>
    </ul>


    <div itemprop="description" class="tab-content" id="content1">@Html.Raw(Model.Article)</div>
    <div itemprop="review" itemscope itemtype="http://schema.org/Review" class="tab-content" id="content2">@Html.Raw(Model.Description)</div>
            

           
          
    @if (Model.OrderAndReturnProductId.HasValue)
    {
        <div class="tab-content" id="content3">
            @if (Model.OrderAndReturnProduct.OrderDescription != null)
            {
                <div>
                    @Html.Raw(Model.OrderAndReturnProduct.OrderDescription)
                </div>
            }
        </div>
        <div class="tab-content" id="content4">
            @if (Model.OrderAndReturnProduct.ReturnDescription != null)
            {
                <div>
                    @Html.Raw(Model.OrderAndReturnProduct.ReturnDescription)
                </div>
            }
        </div>


    }else{
        <div class="tab-content" id="content3"></div>
        <div class="tab-content" id="content4">
        </div>

    }
                    
                    

                

           


</div>

<link rel="stylesheet" href="/css/colorbox.css" />
<script src="/js/jquery.colorbox.js"></script>
<script>
    $(document).ready(function () {
        $(".inline").colorbox({ inline: true, width: "320px" });

    });

</script>
<a href="#inline_content" class="inline"></a>
<div style="display: none">
    <div id="inline_content" style="padding: 10px; background: #fff;">
        <h3 class="l-titles">加入購物車成功 <span>CART</span></h3>
        <p><i class="fa fa-shopping-cart" style="margin: 0 10px 0 0"></i><em class="jq-subject" style="color: red"></em>已加入購物車</p>
        <p>
            目前您的購物車一共有 <em class="jq-text" style="color: red"></em>項產品
            <br>
            <a class="btn btn-success" href="/shoppingcar/index?Mobile=@Request["Mobile"]">結帳去</a>
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>




        $(document).ready(function () {

            $('.tab-content').hide();
            $('#content1').show();

            $('.tab-btn li').click(function(event) {
                $(this).siblings().find('a').removeClass('active');
                $(this).find('a').addClass('active');
                var $link_content = $(this).find('a').attr('href');
                $('.tab-content').hide();
                $($link_content).fadeIn();
            });


            $(".inline").colorbox({ inline: true, width: "320" });
            $('.addCar').click(function () {
                $.post('/Home/AddShoppingCar', { Subject: $("#Subject").val(), Productkey: $("#Productkey").val(), Price: $("#Price").val(), Quantity: $('#Quantity').val(), TotalPrice: $("#Price").val(), MallId: $('#MallId').val(), MallName: $('#MallName').val(), ShippingfeeRule: $('#MallShippingfeeRule').val(), Shippingfee: $('#MallShippingfee').val(), ProductId: $("#ProductId").val() }, function (data) {

                    $('.jq-num').text(data);
                    // alert( $("#Subject").val() +" 已經加入購物車\n");
                    // alert('q');
                    // $( "#dialog" ).dialog({modal:true});
                    $('.jq-text').text(data);
                    $('.jq-subject').text($("#Subject").val());
                    $(".inline").click();
                });
            });

            
        });
    </script>

}