﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Products

@{
  
    ViewBag.Title = "商務導購-" + Model.Subject;
}
<script>
  $(document).ready(function() {
    $('#Quantity').on('blur', function(event) {
      event.preventDefault();
      /* Act on the event */
      if($('#Quantity').val() == ""){
       alert('請填寫品項數量！');
      $('#Quantity').val('');
      }
    });
  });
</script>
<div class="l-banner"  style="background: url(/images/banner-market-bg.png)" >
  <img src="/images/banner-market.png">
</div>
<div class="container l-white market-detail">
<h1 class="l-titles l-titles-indent">@Model.Subject  <span> @Model.ProductCategory.CategoryPath
    @if (Model.Brand != null)
    {
        @Model.Brand.Subject
    }</span></h1>
    <div class="row news-content">
        
    
        <div class="col-md-6 col-xs-12 text-center">
        <img src="/upfiles/images/@Model.UpImageUrl"/>
         
     
        </div>
      <form class="form-inline">
        <div class="col-md-6 col-xs-12" >
           <h3>@Model.Subject </h3>
            <p> @Html.Raw(Model.Article)</p>
          <p>數量：
            <select class="form-control" name="" value="1" id="Quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            
          </p>
          <p>
            規格：
            <select name="" id="">
              <option value="無規格">無規格</option>
            </select>
          </p>
         
              <p class="l-price">NT. <em>@Model.OnSalePrice</em>
              </p>
              <input type="hidden" id="Subject" value="@Model.Subject"/>
              <input type="hidden" id="Productkey" value="@Model.Productkey"/>
              <input type="hidden" id="Price" value="@Model.OnSalePrice"/>
              <input type="hidden" id="ProductId" value="@Model.Id"/>
             
        <div style="margin-bottom:1em"> <a  class="btn btn-cyan addCar">加入購物車</a> <a  class="btn btn-success" href="/shoppingcar?Mobile=@Request["Mobile"]">結帳去</a></div>



        </div>
      </form>
      
    </div>
    <ul class="nav nav-tabs l-tab" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">商品規格</a></li>
        <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">訂購說明</a></li>
      
     </ul>
     <div class="tab-content">
       <div role="tabpanel" style="padding-top:10px" class="tab-pane active" id="home">
         @Html.Raw(Model.Description)
       </div>
       <div role="tabpanel"  style="padding-top:10px" class="tab-pane active" id="profile">
         @Html.Raw(Model.OrderDescription)
       </div>
     </div>



</div>

<link rel="stylesheet" href="/css/colorbox.css" />
<script src="/js/jquery.colorbox.js"></script>
<script>
  $(document).ready(function() {
  $(".inline").colorbox({inline:true, width:"320px"});
    
  });

</script>
<a  href="#inline_content"  class="inline" ></a>
<div style="display:none">
   <div id="inline_content" style="padding:10px; background:#fff;">
   <h3 class="l-titles">加入購物車成功 <span>CART</span></h3>
         <p><i class="fa fa-shopping-cart" style="margin: 0 10px 0 0 "></i><em class="jq-subject" style="color:red"></em>已加入購物車</p>
         <p>目前您的購物車一共有 <em class="jq-text" style="color:red"></em> 項產品
         <br>  <a  class="btn btn-success" href="/shoppingcar?Mobile=@Request["Mobile"]">結帳去</a></p>
    </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
  
  

  
        $(document).ready(function() {
     $(".inline").colorbox({inline:true, width:"320"});
            $('.addCar').click(function() {
                $.post('/Home/AddShoppingCar', { Subject: $("#Subject").val(), Productkey: $("#Productkey").val(), Price: $("#Price").val(), Quantity: $('#Quantity').val(), TotalPrice: $("#Price").val(), ProductId: $("#ProductId").val() }, function (data) {

                    $('.jq-num').text(data);
                    // alert( $("#Subject").val() +" 已經加入購物車\n");
                    // alert('q');
           // $( "#dialog" ).dialog({modal:true});
           $('.jq-text').text(data);
           $('.jq-subject').text($("#Subject").val());
            $(".inline").click();
                });
            });
        });
    </script>

}