﻿@using Fun2twModels.Models
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.Products>

@{
    Mall mall = (Mall)ViewBag.mall;
    Menu menu = (Menu)ViewBag.menu;
    ProductCategory category = ViewBag.Category;

    IQueryable<Products> hotProducts = ViewBag.hotProducts;

    ViewBag.Title = "商務導購-" + mall.Subject;
}
<div class="l-banner" style="background: url(/images/banner-market-bg.png)">
    <img src="/images/banner-market.png">
</div>
<div>
 
        
</div>
<div class="container market">




    <div class="col-md-3 col-xs-12">
        @Html.Raw(menu.Article)
        <div class="market-menu-hot">
        <h2>熱門商品<span>BEST SELLER</span></h2>
        <ul class="market-side-product">
         @foreach (var item in hotProducts.Take(3))
        {
          <li>
            <a href="/Home/Details/@item.Id?mobile=@Request["mobile"]">
               @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                    {
                                        <img  src="~/upfiles/images/S@(item.UpImageUrl)"/>
                                    }
            </a>
            <div class="market-side-product-box">
              <h3 class="jq-two">@item.Subject</h3>
              <p class="market-side-product-price">NT. <em>@item.OnSalePrice</em></p>
            </div>
          </li>
        }
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-xs-12 l-white">
   @if(!string.IsNullOrEmpty(mall.BannerUpImageUrl))
    {
        
        @Html.Raw(mall.Article)
    }
        @if (category == null)
        {
            <h2 class="l-titles l-titles-indent">
              <em>推薦</em>商品 <span>NEW ARRIVAL</span>

            </h2>
        }
        else
        {
            <h2 class="l-titles l-titles-indent">@category.Subject</h2>
        }
        <div style="text-indent:1em">
            @using (Html.BeginForm())
        {
            if (ViewBag.orderby == "Date")
            {
                <input type="radio" name="orderby" class="orderby" value="Date" checked="checked"/>

            }
            else
            {
                <input type="radio" name="orderby" class="orderby" value="Date"/>
            }
            <span>依照日期排序</span>
            if (ViewBag.orderby == "Counter")
            {
                <input type="radio" name="orderby" class="orderby" value="Counter" checked="checked"/><span>依照人氣排序</span>
            }
            else
            {
                <input type="radio" name="orderby" class="orderby" value="Counter"/><span>依照人氣排序</span>
            }

        }
        </div>
         <div >
        <div class="">
            <div >
                <ul class="l-card l-card-nogutter jq-twoline">
                    @foreach (var item in Model)
                    {
                        <li class="col-md-4 col-xs-12">
                            <div class="l-card-main">
                              <div class="l-card-image">
                              <a href="/Home/Details/@item.Id?mobile=@Request["mobile"]">
                                @if (!string.IsNullOrEmpty(item.UpImageUrl))
                                {
                                    <img style="height:150px !important" src="~/upfiles/images/@(item.UpImageUrl)"/>
                                }
                                </a>
                              </div>
                              <div class="l-card-content">
                                  <h2>@item.Subject</h2>
                                  <p class="l-card-price">NT. <em>@item.OnSalePrice</em></p>
                                <a href="/Home/Details/@item.Id?mobile=@Request["mobile"]" class="btn btn-cyan">瀏覽商品</a>
                              </div>
                            </div>
                            
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="l-pagination">
        <div class="pagination">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
        </div>
    </div>
    </div>
    
    

   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".orderby").click(function() {
                $("form").submit();
            });
            $(".leftmenu").each(function () {
                //alert($(this).attr("href"));
                $(this).attr("href", $(this).attr("href") + '@Request["mobile"]');
            });
        });
    </script>

}