﻿@using System.Collections
@using Fun2twModels.Models
@model ProductCategory
@{
    ViewBag.Title = "票券商城";
    //ProductCategory productCategory = ViewBag.ProductClass;

    List<Products> productsForHito = ViewBag.ProductHito;
    List<Products> productsForHot = ViewBag.ProductHot;
}



@if (Model != null)
{
    <div class="container ec-home">
    <div class="form-select" style="margin: 15px auto; width: 80%">

        <div class="form-group form-site">
            <select class="form-control"></select>
        </div>
        <div class="form-group form-sub">
            <select class="form-control"></select>
        </div>
        <input type="button" class="btn btn-primary searchStore" style="width: 100%;" value="搜尋商家">
    </div>


    <div class="left-side">
        <ul class=" sidebar_category sidebar_categorys">
            <div>
                <ul class="market-menu list-none">
                    @foreach (var item in Model.ChildCategory.Where(x => x.Status == PromotionProductStatus.上架).OrderBy(x => x.ListNum))
                    {
                        <li><a href="/ProductForEc/Class/@item.Id?mobile=@Request["mobile"]">@item.Subject</a></li>
                    }


                    @*@foreach (var item in productClassManageFirst)
                        {
                            <li><a href="/Nargo/Index?classid=@item.Id ">@item.Subject</a>
                                @foreach (var items in productClassManageSecond)
                                {
                                    <ul style="display: block;">
                                        @if (item.Id == items.ProductClassManageFirstId)
                                        {

                                            <li>
                                                <a href="/Nargo/Index?classid=@items.Id ">@items.Subject</a>
                                                <ul style="display: none;"></ul>
                                                @foreach (var itemses in productClassManageThird)
                                                {
                                                    <ul style="display: block;">
                                                        @if (items.Id == itemses.ProductClassManageSecondId)
                                                        {
                                                            <li>
                                                                <a href="/Nargo/Index?classid=@itemses.Id ">@itemses.Subject</a>
                                                                <ul style="display: none;"></ul>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }

                                    </ul>
                                }


                            </li>
                        }
                        <li></li>*@
                </ul>
            </div>

        </ul>

        <h3 style="border: 0; background: none; padding: 30px 0 0 0">
            暢銷商品
        </h3>

        <ul class="side_list">



            @foreach (var item in productsForHito.OrderBy(d => Guid.NewGuid()).Take(5))
            {
                <li>
                    <a href="/ProductForEc/Details/@item.Id?mobile=@Request["mobile"]">
                        <div class="side_list_img">
                            <img src="https://www.fun2tw.com/upfiles/images/S@(item.UpImageUrl)" alt="@item.Subject"/>
                        </div>

                        <div class="side_list_info">
                            <div class="title">@item.Subject</div>
                            @if (item.OnSalePrice.HasValue && item.OnSalePrice > 0)
                            {
                                <span style="font-size: 20px; color: #dc143c;">$ @item.OnSalePrice</span>

                            }
                            else
                            {
                                <span style="font-size: 20px; color: #dc143c;">$ @item.Price</span>

                            }

                        </div>
                        <div class="clear"></div>
                    </a>
                </li>
            }

        </ul>


    </div>


    <div class="main_block">

        <h1 class="l-h2" style="border: 0; background: none; padding: 30px 0 0 0">
            熱賣商品
        </h1>

        <div class="commod_slider">
            <ul id="commod_slider1">

                @foreach (var item in productsForHot)
                {
                    <li>
                        <a href="/ProductForEc/Details/@item.Id?mobile=@Request["mobile"]">
                            <img src="https://www.fun2tw.com/upfiles/images/S@(item.UpImageUrl)" alt="@item.Subject">
                            <div class="commod_slider_title">
                                <div style="color: gray">[@item.Mall.Subject]</div>
                                <div> @item.Subject</div>
                            </div>
                            <div class="commod_slider_price">
                                @if (item.OnSalePrice.HasValue && item.OnSalePrice > 0)
                                {
                                    if (item.Price.HasValue && item.Price > 0)
                                    {
                                        <p>
                                            <span style="color: #8f8f8f; text-decoration: line-through">原價$ @item.Price</span>
                                            <span style="font-size: 20px; color: #dc143c;">$ @item.OnSalePrice</span>
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <span style="color: #8f8f8f;">特價</span>
                                            <span style="font-size: 20px; color: #dc143c;">$ @item.OnSalePrice</span>
                                        </p>
                                    }


                                }
                                else
                                {
                                    <p>
                                        <span style="color: #8f8f8f;">原價</span>
                                        <span style="font-size: 20px; color: #dc143c;">$ @item.Price</span>
                                    </p>
                                }

                            </div>
                        </a>
                    </li>
                }

                @*@{
                    if (productForEcs != null)
                    {
                        foreach (var item in productForEcs)
                        {
                    <li>
                        <a href="/ProductForEc/Details/@item.Id?mobile=@Request["mobile"]">
                            <img src="/images/S@(item.UpImageUrl)" alt="@item.Subject">
                            <div class="commod_slider_title">
                                @item.Subject
                            </div>
                            <div class="ccommod_slider_price">
                                <span style="color: #ff7bbb;">$</span>
                                <span style="font-size: 20px; color: #ff7bbb;">@item.Price</span>
                            </div>
                        </a>
                    </li>
                        }
                    }*@

            </ul>
        </div>


        <div class="ec_home_banner">
            <ul class="ec_home_banner_two_item">

                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <div class="clear"></div>

    @*<div class="brand_slider">
            <ul id="brand_slider">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="/Nargo/Index?classid=@item.Id&mobile=@Request["mobile"]">
                            <img src="@item.UpImageUrl" alt="@item.Subject">
                        </a>
                    </li>
                }

            </ul>
        </div>*@


    </div>
}
else
{
     <h2 align="center">很抱歉目前還尚未上架產品</h2>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")


}
<script>
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
    $(document).ready(function () {
        $('#commod_slider1').lightSlider({
            item: 3,
            auto: false,
            loop: true,
            pauseOnHover: true,
            pager: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        item: 2,
                        slideMove: 1,
                        slideMargin: 6
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        item: 1,
                        slideMove: 1
                    }
                }
            ]

        });
        $('#commod_slider2').lightSlider({
            item: 3,
            auto: false,
            loop: true,
            pauseOnHover: true,
            pager: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        item: 2,
                        slideMove: 1,
                        slideMargin: 6
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        item: 1,
                        slideMove: 1
                    }
                }
            ]

        });
        $('#brand_slider').lightSlider({
            item: 6,
            auto: false,
            loop: true,
            pauseOnHover: true,
            pager: false,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        item: 4,
                        slideMove: 1,
                        slideMargin: 6
                    }
                },
                {
                    breakpoint: 569,
                    settings: {
                        item: 3,
                        slideMove: 1
                    }
                },
                {
                    breakpoint: 400,
                    settings: {
                        item: 2,
                        slideMove: 1
                    }
                }
            ]
        });
        $('.sidebar_category .market-menu').removeClass('market-menu');
        $('.sidebar_category ul ul').hide()
        $('.sidebar_category li').click(function (event) {
            $(this).addClass('focus');
            $(this).siblings().removeClass('focus');
            $(this).find('ul').slideDown();
            $(this).siblings().find('ul').slideUp();
        });

        $('.searchStore').on('click', function (event) {
            event.preventDefault();
            var siteHref = $('.form-site select').val();
            var subHref = $('.form-sub select').val();
            var subLenHasData = $('.form-sub select').val() !== null;
            if (subLenHasData) {
                var href = $('.sidebar_categorys a:contains("' + subHref + '")').attr('href');
                location.href = href;
            } else {
                var href = $('.sidebar_categorys a:contains("' + siteHref + '")').attr('href');
                location.href = href;
            }

        });

    });
</script>
