﻿@{
    ViewBag.Title = "登出";
}


<div class="container l-white market-detail">
    <h1>你已經登出系統</h1>
</div>

<div style="display: none">
         <iframe src="https://www.fun2tw.com/Customer/LogOff"></iframe>
    </div>
   

<script>

	 setTimeout(function(){ window.location='https://ec.fun2tw.com'; }, 3000);

</script>