﻿@model Fun2twModels.Models.NargoOrders
@{
    ViewBag.Title = "我的訂單";

    float sumPrice = 0;
    float shippingFee = 0;
    float sumTotal = 0;
    int i = 0;
}

<div class="l-banner"  style="background: url(/images/banner-market-bg.png)" >
  <img src="/images/banner-market.png">
</div>
<div class="container l-white market-detail news-content">

    <div class="common">
         <h2 class="l-detail-title"><em>您的購物清單如下</em></h2>
         <table class="cart table table-bordered">
                <tr>
                    <th width="25%">品名</th>
                    <th width="15%" class="text-center">單價</th>
                    <th width="8%" class="text-center">數量</th>
                    <th width="15%" class="text-center">金額</th>
                </tr>
            @foreach (var item in Model.OrderDetailses)
            {
                sumPrice += item.TotalPrice;
                <tr>
                    <td align="left">
                        <span class="blue">@item.Subject</span>
                        <input type="hidden" name="shoppingCar[@i].Subject" value="@item.Subject" />
                    </td>
                 
            <td align="center">
                <em class="red">NTD$@item.Price</em>
                <input type="hidden" name="shoppingCar[@i].Price" value="@item.Price" />
            </td>
            <td align="center">
                @item.Quantity

            </td>
            <td align="center">
                <em class="red">NTD$@item.TotalPrice</em>
                <input type="hidden" name="shoppingCar[@i].TotalPrice" value="@item.TotalPrice" />
                <input type="hidden" name="shoppingCar[@i].ProductId" value="@item.ProductId" />
               
            </td>

        </tr>
                i++;
            }


        </table>
        <div class="cart-total">
             <p class="text-right">小計：<span class="red"  style="color:red">$@sumPrice</span></p>
            @if (sumPrice < 1000)
                    {
                        shippingFee = 100;
                    }
                 <p  class="text-right">郵寄/宅配運費：<span style="color:red" class="red">$<em class="jq-shopping-bigcount">@shippingFee</em></span></p>
             <p class="text-right">消費總金額：<span class="red" style="color:red">$@(sumPrice + shippingFee)</span></p>
        </div>
    </div>
    <div class="row">
    <div class="common create-dindan buyer col-md-6 col-xs-6">
        <h2 class="l-detail-title"><em>購買人資訊</em></h2>
        <table class="cart table table-bordered">
            <tr>
                <th width="30%">購買者姓名</th>
                <td>
                    @Html.DisplayFor(x => x.OrderName)
            </td>
        </tr>
        <tr>
            <th width="30%">手　　機</th>
            <td>
                @Html.DisplayFor(x => x.OrderMobile)
        </td>
    </tr>
    <tr>
        <th width="30%">聯絡電話</th>
        <td>
            @Html.DisplayFor(x => x.OrderTelphone)
        </td>
    </tr>
    <tr>
        <th width="30%">聯繫信箱</th>
        <td>
            @Html.DisplayFor(x => x.OrderEmail)
    </td>
</tr>
<tr class="last">
    <th>地　　址</th>
    <td>
        @Html.DisplayFor(x => x.OrderAddress)
    </td>
</tr>
</table>
</div>
<div class="common create-dindan accepter col-md-6 col-xs-6">
    <h2 class="l-detail-title"><em>
       收件人資訊</em> 
        <span class="same-information">

        </span>
    </h2>
     <table class="cart table table-bordered">
        <tr>
            <th width="30%">收件人姓名</th>
            <td>
                @Html.DisplayFor(x => x.ShippingName)

        </td>
    </tr>
    <tr>
        <th width="30%">手　　機</th>
        <td>
            @Html.DisplayFor(x => x.ShippingMobile)

    </td>
</tr>
<tr>
    <th width="30%">聯絡電話</th>
    <td>
        @Html.DisplayFor(x => x.ShippingTelphone)

</td>
</tr>
<tr>
    <th width="30%">聯繫信箱</th>
    <td>
        @Html.DisplayFor(x => x.ShippingEmail)

</td>
</tr>
<tr class="last">
    <th>地　　址</th>
    <td>
        @Html.DisplayFor(x => x.ShippingAddress)

    </td>
</tr>
</table>
</div>
</div>
<div class="note">

     @Html.DisplayFor(x => x.PayMomo)
    @*@Model.PayMomo*@
</div>
<div class="common">
    <h2 class="l-detail-title"><em>付款方式</em></h2>
    <div class="change">
        @Html.DisplayFor(x => x.PayType)
    </div>



<div class="bottom-btn text-center">
    <input class="pure-button button-blue btn btn-primary" type="button" value="回上一頁" onclick="history.back()" />
</div>



</div>

