﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Customers
@{
    ViewBag.Title = "商務導購-我的訂單";
    NargoOrderFunction nargoOrderFunction = new NargoOrderFunction();
    String password = System.Web.Configuration.WebConfigurationManager.AppSettings["NargoPassword"];
    String orderrderUri = System.Web.Configuration.WebConfigurationManager.AppSettings["NargoOrderURI"];     
}

<div class="l-banner"  style="background: url(/images/banner-market-bg.png)" >
  <img src="/images/banner-market.png">
</div>
<div class="container l-white market-detail news-content">
    <div class="common">
        <h2 class="l-titles">我的訂單 <span>ORDER</span></h2>
        <table class="cart table table-bordered">
            <tr>
                <th width="12%" >訂單編號</th>
                <th width="16%" class="text-center">訂購日期</th>
                <th width="12%" class="text-center">金額</th>
                <th width="16%" class="text-center">付款方式</th>
                <th width="12%" class="text-center">訂單狀態</th>
                <th width="12%" class="text-center">南仁湖商品狀態</th>
                @*<th width="16%" class="text-center">取消</th>*@
                <th width="30%" class="text-center">檢視訂單</th>
            </tr>
         @foreach (var item in Model.NargoOrderses.Where(w => (w.PayType == PayType.信用卡刷卡 && w.OrderStatus != OrderStatus.待處理)).OrderByDescending(x => x.Id))
                {
                     <tr>
                    <td align="left"><span class="blue">@item.OrderId</span></td>
                    <td align="center">@item.InitDate </td>
                    <td align="center">$@item.Total</td>
                    <td align="center">@item.PayType</td>
                         <td align="center"><em class="red">@item.OrderStatus</em></td>
                         <td align="center">
                             <em class="red">
                                 @if (item.OrderStatus == OrderStatus.已付款 && item.IsSentNargo == BooleanType.是)
                                 {
                                     String message = nargoOrderFunction.GetNargoOrderStatus(item.OrderId, password, orderrderUri);
                                     @Html.DisplayFor(modelItem => message)
                                 }
                             </em>
                         </td>
                    @*<td align="center"><a href="#">取消</a></td>*@
                    <td align="center">
                        <a class="btn btn-primary" href="/Customers/NargoOrderDetail/@item.Id">瀏覽</a>
<style>.inline{display:inline}</style>
                
                       
                   

                    </td>
                 </tr>
                }
                @foreach (var item in Model.Orderses.Where(w => (w.PayType == PayType.信用卡刷卡 && w.OrderStatus != OrderStatus.待處理)).OrderByDescending(x => x.Id))
                {
                     <tr>
                    <td align="left"><span class="blue">@item.Orderid</span></td>
                    <td align="center">@item.InitDate </td>
                    <td align="center">$@item.Total</td>
                    <td align="center">@item.PayType</td>
                         <td align="center"><em class="red">@item.OrderStatus</em></td>
                         <td></td>
                    @*<td align="center"><a href="#">取消</a></td>*@
                    <td align="center">
                        <a class="btn btn-primary" href="/Customers/OrderDetail/@item.Id">瀏覽</a>
<style>.inline{display:inline}</style>
                    @using (Html.BeginForm("CancelOrder", "Customers", FormMethod.Post,new{@class="inline"}))
                                {
                                    @Html.AntiForgeryToken()

                                    if (item.OrderStatus == OrderStatus.待處理)
                                    {
                                           <input  class="pure-button button-blue btn btn-primary"  type="submit" value="取消訂單" onclick="javascript: if (!window.confirm('你確定要取消訂單嗎?')) window.event.returnValue = false;" />
    
                                  

                                    @*這邊也有改*@
                                    @Html.Hidden("Id", item.Id, new { @class = "sid" })
                                    }

                                 
                                }
                        @if (item.OrderStatus == OrderStatus.待處理)
                        {
                             <a class="btn btn-primary" href="/Customers/Refund/@item.Id">我要退貨</a>
                        }
                   

                    </td>
                 </tr>
                }

           
        </table>
    </div>
</div>