﻿@model Fun2twModels.Models.Orders
@{
    ViewBag.Title = "商務導購-我要退貨";

}

<div class="l-banner" style="background: url(/images/banner-market-bg.png)">
    <img src="/images/banner-market.png">
</div>
@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    <div class="container l-white market-detail news-content">

    <div class="">
         <h2 class="l-titles">請填寫退貨說明</h2>
       <textarea cols="20" id="CustomerMemo" class="form-control" name="CustomerMemo" placeholder="請填寫退貨說明" rows="2" style="height: 150px;width: 100%"></textarea>
    </div>


    <div class="bottom-btn text-center m1">
         <input class="pure-button button-blue btn btn-primary" type="submit" value="送出"  />
        <input class="pure-button button-blue btn btn-primary" type="button" value="回上一頁" onclick="history.back()"/>
    </div>



</div>
}

