﻿
@{
    ViewBag.Title = "商務導購-退貨成功";

}

<div class="l-banner" style="background: url(/images/banner-market-bg.png)">
    <img src="/images/banner-market.png">
</div>
@using (Html.BeginForm("CancelOrder", "Customers"))
{
    <div class="container l-white market-detail news-content">

    <div class="common">
         <h2 class="l-detail-title"><em>退貨申請已送出</em></h2>
      你的退貨申請已經送出，我們將盡速處理，謝謝。
    </div>
    <div class="text-center">
    	<a href="https://ec.fun2tw.com/Customers/Order" class="btn btn-primary">回訂單列表</a>
    </div>






</div>
}
