﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Customers
@{
    ViewBag.Title = "商務導購-我的訂單";
 
}


<div class="container l-white market-detail news-content">
    <div class="common">

        @if (ViewBag.orders)
        {
            <h2 class="l-titles">特惠票券訂單 <span>ORDER</span></h2>
            <table class="cart table table-bordered">
                <th width="10%">訂單編號</th>
                <th width="20%" class="text-center">訂購日期</th>
                <th width="10%" class="text-center">金額</th>
                <th width="10%" class="text-center">付款方式</th>
                <th width="10%" class="text-center">訂單狀態</th>
                <th width="10%" class="text-center">郵寄方式</th>
                <th width="10%" class="text-center">查詢編號</th>

                <th width="10%" class="text-center">檢視訂單</th>
                <th width="10%" class="text-center">取消訂單</th>

                @foreach (var item in Model.Orderses.Where(x=>x.MallId==35).OrderByDescending(x => x.Id))
                {
                    <tr>
                        <td align="left"><span class="blue">@item.Orderid</span></td>
                        <td align="center">@item.InitDate </td>
                        <td align="center">$@item.Total</td>
                        <td align="center">@item.PayType</td>
                        <td align="center"><em class="red">@item.OrderStatus</em></td>
                        <td>@item.Delivery</td>
                        <td>@item.DeliveryId</td>
                      
                        <td align="center">
                            <a class="btn btn-primary" href="/Customers/TicketsOrderDetail/@item.Id">瀏覽</a>
                           

                        </td>
                        <td>
 
                            @*<a class="btn btn-primary" href="/Customers/OrderDetail/@item.Id">我要退貨</a>*@
                            @if (item.OrderStatus != OrderStatus.退貨處理中 && item.OrderStatus != OrderStatus.退貨處理完成 && item.OrderStatus != OrderStatus.已寄送發票&&item.OrderStatus!=OrderStatus.取消訂單)
                            {

                                TimeSpan span = DateTime.Now.Subtract((DateTime)item.InitDate); //計算2個日期之間的天數差
                                int dayDiff = span.Days;
                                if (dayDiff <= 10)
                                {

                                    if (item.OrderStatus == OrderStatus.未付款)
                                    {
                                        <a class="btn btn-primary sendcancelGmail" style="cursor: pointer">取消訂單</a>
                                        @Html.Hidden("ID", item.Id)
                                    }
                                    else 
                                    {
 
                                        <a class="btn btn-primary sendGmail" style="cursor: pointer">我要退貨</a>
                                        @Html.Hidden("ID", item.Id)
                                    }
                                  
                                 
                                }
                            }

                        </td>
                    </tr>
                }


            </table>
        }
    </div>
    @if ( !ViewBag.orders)
    {
        <div>抱歉目前您並沒有任何的伴手禮市集訂單資料</div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $(".sendGmail").click(function () {
                if (!window.confirm('你確定要退貨嗎?')) {
                    return false;
                }
                var orderid = $(this).next().val();
                $.get("/Customers/Cancelsend", { id: orderid })
                    .done(function (data) {
                        alert("退貨通知已送出");
                        window.location = "/Customers/TicketsOrder";
                    });
            });
            $(".sendcancelGmail").click(function () {
                if (!window.confirm('你確定要取消訂單嗎?')) {
                    return false;
                }
                var orderid = $(this).next().val();
                $.get("/Customers/Canceltwosend", { id: orderid })
                    .done(function (data) {
                        alert("訂單取消通知已送出");
                        window.location = "/Customers/TicketsOrder";
                    });
            });
          


        });
    </script>
}