﻿<div class="container l-white news-content">
    <h2 class="l-titles">自動櫃員機ATM繳費確認通知 <span>ATM</span>
    </h2>
    <span style="color: red">訂單編號:##Orderid##</span><br/>
    行程名稱：##Subject##<br/>
    轉帳帳號後五碼：##RemittanceAccount##<br/>
    匯款人姓名：##RemittanceName##<br/>
    轉帳金額：##Total##<br/>
	取貨地點：##Place##<br/><br>

    </div>