header {
			width: 100%;
		}
		footer {

			width: 100%;
			/*position: absolute;*/
			/*bottom: 0;*/

		}
		body {
			margin: 0;
			font-family: "微軟正黑體",Sans-serif;
			/*background: rgba(119,193,160,.2);*/
			background: white;

		}
		#body {
			width: 100%;
			/*height: 600px;*/
		}
		.wrap {
			width: 100%;
			margin: 0 auto;
		}

		header img {
			width: 100%;
		}
		footer img {
			width: 100%;
			margin: 0 auto;
		}