
		h2 {
			color: orange;

		}
		
		h3 {
			font-weight: lighter;
			color: orange;
		}
		.validform {
			position: relative;
			text-align: center;
			line-height: 3.5em;
			background: white;
			padding-bottom: 60px;
		}
		.validform span {
			height: 60px;
			line-height: 60px;
			right: 5px;
			width: 200px;
			position: absolute;
			font-size: 20px;
			text-align: left;
			/*padding: 20px 0;*/
			/*display: block;*/
			/*color: #2f6b76;*/
			color: #C40D21;
		}
		label {
			color: #60babb;
			font-size: 18px;
			padding-right: 20px;
		}
		a{
			display: block;
			width: 400px;
			margin: 0 auto;
			height: 60px;
			border: 0;
			background: #DEC47A;
			color: white;
			font-size: 24px;
			text-decoration: none;
			line-height: 60px;
		}
		input[type=text],input[type=password] {
			padding-left: 20px;
			font-size: 16px;
			width: 250px;
			height: 40px;
			border: 1px #60babb solid;
		}
		input[type=text]:focus,input[type=password]:focus {
			outline: solid 2px orange;
		}
		input[type=submit],input[type=reset] {
			width: 338px;
			height: 40px;
			border: 0;
			/*background: #8EA7D1;*/
			background: #60babb;
			color: white;
			font-size: 18px;
		}
		input[type=submit]:focus,input[type=reset]:focus {
				outline: solid 2px yellow;
		}


